<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NewClass.Properties.NewSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NewClass.Properties.NewSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NewClass.Properties.NewSettings>
            <setting name="Class1Text" serializeAs="String">
                <value>string1</value>
            </setting>
        </NewClass.Properties.NewSettings>
    </userSettings>
    <applicationSettings>
        <NewClass.Properties.NewSettings>
            <setting name="AppText" serializeAs="String">
                <value>ApplicSetting</value>
            </setting>
        </NewClass.Properties.NewSettings>
    </applicationSettings>
</configuration>